* {
   box-sizing: border-box; 
  }

  body {
    margin: 0;
  }

  #main {
    display: flex;
    height: 900px;
  }

  #main > article {
    flex: 1;
  }

  #main > nav {
    flex: 0 0 20vw;
    background: beige;
  }

  #main > nav {
    order: -1;
  }

  header, footer, article, nav {
    padding: 10px;
  }

nav {
    text-align: center;
}

ul {
        list-style: none;
    text-align: center;
}

  header, footer {
    background: #1c1c1c;
      color: white;
    height: 60px;
      text-align: center;
      font-size: 30px;
  }
