<% include ./partials/boilerplate %>
   <div class='container'>
    <h1><%= title %> System</h1>
    <ul>
        <% data.forEach(function(d) { %>
            <li data-id=<%=d.id%>> 
                <img src=<%= d.image %>><p><%= d.description %></p>
            </li>
        <% }) %>
    </ul>
</div>
<% include ./partials/end %> 